
<!DOCTYPE html>
<html>
<title>Topaz - About</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ root_path }}/assets/w3.css">
<script type="text/javascript" src="{{ root_path }}/assets/main.js"></script> 

<body class="w3-animate-top">
	
{{ include('navbar.twig.html') }}

<div class="w3-container">
	
	<h4>About Page</h4>

	<img style="width:100px" src="{{ root_path }}/assets/logo.svg"/> 
	<h2>Topaz Framework</h2>

	<p>Damir Šijaković (c) MIT Licence 2021.</p>
</div>


</body>
</html>





