
<!DOCTYPE html>
<html>
<title>Topaz - Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ root_path }}/assets/w3.css">
<script type="text/javascript" src="{{ root_path }}/assets/main.js"></script> 

<body class="w3-animate-top">

{{ include('navbar.twig.html') }}

<div class="w3-container">
	
	<h4>Home Page</h4>
	
	<h2>Topaz Framework</h2>
	<p> Project made using:</p>


<table class="w3-table w3-bordered  w3-white w3-small"><tbody>
	 <tr>
  <td class="w3-light-gray w3-small" style="width:300px">Module</td>
  <td class="w3-light-gray w3-small">Description</td>
 </tr>
 
    <tr>
      <td>php-di/php-di</td>
      <td>The dependency injection container.</td>
    </tr>
    
    <tr>
      <td>league/route</td>
      <td>Fast PSR-7 routing and dispatch component including PSR-15 middleware, built on top of FastRoute.</td>
    </tr> 
       
    <tr>
      <td>laminas/laminas-diactoros</td>
      <td>PSR-7 HTTP message interfaces and PSR-17 HTTP message factory interfaces.</td>
    </tr>
    
    <tr>
      <td>laminas/laminas-httphandlerrunner</td>
      <td>Execute PSR-15 RequestHandlerInterface instances and emit responses they generate.</td>
    </tr>
    
    <tr>
      <td>twig/twig</td>
      <td>Template engine</td>
    </tr>
    
    <tr>
      <td>doctrine/dbal</td>
      <td>Powerful database abstraction layer with many features for database schema introspection, schema management and PDO abstraction.</td>
    </tr>
    
    <tr>
      <td>respect/validation</td>
      <td>Validation engine.</td>
    </tr>
    
    <tr>
      <td>firebase/php-jwt</td>
      <td>A simple library to encode and decode JSON Web Tokens (JWT).</td>
    </tr>
    
    <tr>
      <td>tracy/tracy</td>
      <td>Advanced logger, profiler and debugger.</td>
    </tr>
    
	</tbody></table>

<hr>


<p> Todos:</p>


<table class="w3-table w3-bordered  w3-white w3-small"><tbody>
	 <tr>
  <td class="w3-light-gray w3-small" style="width:300px">Todo</td>
  <td class="w3-light-gray w3-small">Description</td>
 </tr>
 
    <tr>
      <td>Implement Acl</td>
      <td>Replace current with laminas/laminas-permissions-acl (replace Sys\User mess)</td>
    </tr>
        
    <tr>
      <td>API/Website modes</td>
      <td>Create two framework versions or modules.</td>
    </tr>
    
    <tr>
      <td>Json to Database</td>
      <td>Import JSON to database easily.</td>
    </tr>
    
    <tr>
      <td>Multilingual model</td>
      <td>Create interface to easily swap between languages tables.</td>
    </tr>
    

    
	</tbody></table>





<hr>	

	
</div>



</body>
</html>





